<div class="mt-5">
    <div class="row justify-align-center">
        <div class="col-md-12">
            <div class="text-center">
                <h1>
                    Oops!</h1>
                <h2>
                    404 - Pagina no encontrada</h2>

                <div class="mt-5">
                    <a [routerLink]="['/']" class="btn btn-primary btn-lg"><span
                            class="glyphicon glyphicon-home"></span> Volver </a>
                </div>
            </div>
        </div>
    </div>
</div>